* text=auto !eol
/FIll_main.c -text
/Makefile -text
/NMakefile -text
/Pic_FillDevice.mcp -text
/Pic_FillDevice.mcw -text
/config.h -text
/controls.c -text
/controls.h -text
crc_calc/crcmodel.c -text
crc_calc/crcmodel.h -text
delay/delay.c -text
delay/delay.h -text
ds102_fill/Fill.h -text
ds102_fill/RxFill.c -text
ds102_fill/TxFill.c -text
eeprom/spi_eeprom.c -text
eeprom/spi_eeprom.h -text
gps/gps.c -text
gps/gps.h -text
havequick/hqii.c -text
/hw_setup.c -text
i2c_sw/i2c_sw.c -text
i2c_sw/i2c_sw.h -text
/isr.c -text
rtc/rtc.c -text
rtc/rtc.h -text
serial/serial.c -text
serial/serial.h -text
